@charset "UTF-8";
#admin_header {text-align: center}
#admin_aside{float: left ; width: 150px; height: 600px ; border : solid red;}
#admin_section{width: 960px; height: 600px; border : solid red;}
#admin_section_table{width: 600px; height: 200px; margin : 10% auto;}
table, tr td{text-align: left; }
td{width: auto; border : solid red; text-align: left;}
#go_admin_create_btn{width:100%; height:100%}
#add_member_td{text-align: right; border : 0;}