@charset "UTF-8";
#index_header{ width: 100%; height: 50px; text-align: center;}
#index_table{ width : 80%; height: 500px; margin: 0 auto;}
#index_table tr{width : 100%; height: 50px;}
#index_table tr th{width : 100%; height: 30px;}
#index_table tr td{width : 100%; height: 30px;}
#index_login_box{width: 300px; margin: 0 auto;}
#index_input_id{width: 200px;}
#index_input_pw{width: 100px; height:100px}
#index_input_btn{width: 100px; height:100px}
#index_input_addmember{margin: 0 auto;}